body{
    background-color: #15202B;
    color: white;
}

th{
    text-align: center;
}

h1{
    color: #f8ff40;
    margin-top: 0.625rem;
}

th,td{
    color: white;
}

.svg-center{
    text-align: center;
}

.edit{
    fill: #5890E5;
}

.delete{
    fill: red;
}

#btn-margin{
    margin-bottom: 0.625rem;
}

#btn-end{
    text-align: end;
}



.button_div{
    padding: 1.563rem;
    margin-bottom: 1.25rem;
}




#h1-index{
    text-align: center;
    font-size: 2rem;
}

header{
    margin-bottom: 1.563rem;
}

.vert-align{
    margin-top: 5%;
}

td{
    text-transform: capitalize;
}

#tr-hover:hover{
    color: white;
    background-color:#192734;
}

#pw-content::after{
    content: "W";
}



.box{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 500px;
    border: 0.5px solid white;
    box-shadow: -1px 11px 85px -37px rgba(248,255,64,1);
    text-align: center;
    margin-top: 6.25rem;
}

button{
    color: white;
    text-transform: none;
}

.width-f{
    min-width: 15.625rem;
    min-height: 2.5rem;
}

#btn-back{
    text-align: right;
}

#btn-mg{
    margin-right: 1.875rem;
}
