body{
    background-color: #15202B;
    color: white;
}

th{
    text-align: center;
}

h1,h2{
    color: #f8ff40;
    margin-top: 0.625rem;
}

th,td{
    color: white;
}

#svg-end{
    text-align: end;
}
.svg-center{
    text-align: center;
}

.navbar{
    background-color: #192734;
}

.navbar-brand{
    margin-right: 50px;
    cursor: default;
}

#action-bar{
    display: flex;
}
#svg-bulb{
    fill: #f8ff40;
}

#svg-disc{
    fill: white;
    size: 2rem;
}

.edit{
    fill: #5890E5;
}

.delete{
    fill: red;
}

#btn-cross{
    border: none;
    background-color: transparent;
}

#add{
    fill: white;
    width: 2.5rem;
    height: auto;
}

#btn-margin{
    margin-bottom: 0.625rem;
}


#login-arrow{
    fill: white;
}
#btn-end{
    text-align: end;
}

#btn-login{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 15px;
}

.modal{
    top: 200px;    
}

.bg-modal{
    background-color: #15202B;
}

.cancel{
    color: white;
}



.button_div{
    padding: 1.563rem;
    margin-bottom: 1.25rem;
}


#header-index{
    margin-bottom: 100px;
}

#h2-index{
    text-align: center;
    font-size: 2rem;
}

header{
    margin-bottom: 1.563rem;
}

.vert-align{
    margin-top: 5%;
}

td{
    text-transform: capitalize;
}

.tr-hover:hover{
    color: white;
    background-color:#192734;
}

.pw-content::after{
    content: " W";
}

#login{
    margin-top: 35px;
    font-size: 1.3rem;
}

.box{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 500px;
    border: 0.5px solid white;
    box-shadow: -1px 11px 85px -37px rgba(248,255,64,1);
    text-align: center;
    margin-top: 6.25rem;
}

.loginbox{
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 300px;
    max-width: 500px;
    border: 0.5px solid white;
    box-shadow: -1px 11px 85px -37px rgba(248,255,64,1);
    text-align: center;
    margin-top: 15%;
}

button{
    color: white;
    text-transform: none;
}

.width-f{
    min-width: 15.625rem;
    min-height: 2.5rem;
}

#btn-back{
    text-align: right;
}

#btn-mg{
    margin-right: 1.875rem;
}



/* Responsive ----------------------------------------------------------------- */

/* Max 1200 ----*/

@media only screen and (min-width:992px) and (max-width: 1199.98px)
{
    .box{
        margin-top: 3rem;
    }
}


/* Max 992 ----  */


@media only screen and (min-width: 768px) and (max-width: 991.98px)
{
    #btn-margin{
        text-align: center;
    }

    #btn-end{
        text-align: center;
        margin-bottom: 2rem;
    }

    .container{
        padding: 0;
        margin: 0 1.063rem;
    }

    .box{
        margin-top: 3rem;
    }


}

/* Max 768 ---  */


@media only screen and (min-width: 480px) and (max-width: 767.98px)
{
    #btn-margin{
        text-align: center;
    }

    #btn-end{
        text-align: center;
        margin-bottom: 2rem;
    }

    .container{
        padding: 0;
        margin: 0 0.5rem;
    }

    .box{
        margin-top: 0;
        min-height: device-height;
    }


    #form-padding{
        padding-left: 100px;
    }
   


}

/* Max 480 -----  */


@media only screen and (max-width : 479.98px)
{
    #btn-margin{
        text-align: center;
    }

    #btn-end{
        text-align: center;
        margin-bottom: 2rem;
    }

    .container{
        padding: 0;
        margin: 0;
    }

    .box{
        margin-top: 0;
        max-height: device-height;
    }


    #form-padding{
        padding-left: 75px;
    }
}
